<query-builder
        [(ngModel)]="query"
        [config]="config"
        (ngModelChange)="onQueryBuilderChange($event)"
        [classNames]="classNames"
        #builder>
 

    <ng-container *queryButtonGroup="
            let ruleset;
            let addRule = addRule;
            let addRuleSet = addRuleSet;
            let removeRuleSet = removeRuleSet;
            let $implicit = $implicit;
          ">


        <div *ngIf="ruleset.rules.length > 0; else root">
            <button
                    fd-button
                    fdType="transparent"
                    glyph="add"
                    (click)="addRule()"
                    tooltip="Add Condition"></button>
        </div>

        <ng-template #root>
            <div>

                <button
                        fd-button
                        fdType="transparent"
                        glyph="add-folder"
                        (click)="addRuleSet()"
                        tooltip="Add Rule Set"></button>
            </div>
        </ng-template>

    </ng-container>

    <ng-container *querySwitchGroup="let ruleset">
        <fd-select *ngIf="ruleset.rules.length > 1" [(ngModel)]="ruleset.condition">
            <fd-option value="and">and</fd-option>
            <li fd-option value
                value="or">or
            </li>
        </fd-select>
    </ng-container> 

    <ng-container [fdCozy]="true" *queryRemoveButton="let rule; let removeRule=removeRule">
        <button
                (click)="removeRule(rule)"
                fd-button
                fdType="transparent"
                glyph="delete"
                tooltip="Remove Rule"></button>
    </ng-container>

    
    <ng-container *queryInput="let rule; type: 'all-accounts'">
        <fd-message-strip fdOverflowPriority="high"  type="warning" [dismissible]="false" [noIcon]="true">
            All Accounts
        </fd-message-strip>
   </ng-container>

   </query-builder>
<fdp-panel
    title="Output"
    fdCompact
    [expandable]="true">
    <fdp-panel-content>
        <pre><p>{{query | json}}</p></pre> 
    </fdp-panel-content>
</fdp-panel>



   <!-- <ng-container *queryOperator="let rule; let operators=operators">
    <div [ngClass]="builder.getClassNames('operatorControlSize')" >
      <fd-select [ngClass]="builder.getClassNames('operatorControl')" *ngIf="operators.length > 0;" [(ngModel)]="rule.operator">
        <fd-option *ngFor="let value of operators" [value]="value">{{value}}</fd-option>
      </fd-select>
    </div>
  </ng-container>

   <ng-container *queryInput="let rule; let field=field; let options=options; type: 'category'">
    <fdp-form-field>
      <fdp-select [(ngModel)]="rule.value" [placeholder]="field.name">
        <fdp-option *ngFor="let opt of options" [value]="opt.value">
          {{ opt.name }}
        </fdp-option>
      </fdp-select>
    </fdp-form-field>
  </ng-container>
</query-builder>

<fdp-panel
title="Output"
fdCompact
[expandable]="true">
<fdp-panel-content>
    <pre><p>{{query | json}}</p></pre> 
    </fdp-panel-content>
</fdp-panel>


<ng-container *querySwitchGroup="let ruleset">
    <fd-split-button (primaryButtonClicked)="addRule()" >
      <fd-menu>
          <li fd-menu-item>
              <div fd-menu-interactive>
                  <span 
                  fd-menu-title>And</span>
              </div>
          </li>
          <li fd-menu-item>
              <div fd-menu-interactive>
                  <span  
                  fd-menu-title>Or</span>
              </div>
          </li>
      </fd-menu>
  </fd-split-button> 
  </ng-container>

<button fd-button
        fdType="transparent"
        glyph="sys-find" 
        (click)="log(ruleset)"></button>
    
    
<button
              (click)="removeRuleSet()"
              fd-button
              fdType="transparent"
              glyph="delete"
              tooltip="Remove Rule Set"></button> -->