<query-builder
        [(ngModel)]="query"
        [config]="config"
        (ngModelChange)="onQueryBuilderChange($event)"
        [classNames]="classNames">
    <ng-container *queryButtonGroup="
            let ruleset;
            let addRule = addRule;
            let addRuleSet = addRuleSet;
            let removeRuleSet = removeRuleSet;
            let $implicit = $implicit;
            let $parent = $parent
          ">


        <div *ngIf="ruleset.rules.length > 0; else root">
            <button
                    fd-button
                    fdType="transparent"
                    glyph="add"
                    (click)="addRule()"
                    tooltip="Add Condition"></button>
            <!-- <button
              (click)="removeRuleSet()"
              fd-button
              fdType="transparent"
              glyph="delete"
              tooltip="Remove Rule Set"></button> -->
        </div>

        <ng-template #root>
            <div>

                <button
                        fd-button
                        fdType="transparent"
                        glyph="add-folder"
                        (click)="addRuleSet()"
                        tooltip="Add Rule Set"></button>
            </div>
        </ng-template>

    </ng-container>

    <ng-container *querySwitchGroup="let ruleset">
        <fd-select *ngIf="ruleset.rules.length > 1" [(ngModel)]="ruleset.condition">
            <fd-option value="and">and</fd-option>
            <li fd-option value
                value="or">or
            </li>
        </fd-select>
        <ng-template #root></ng-template>
    </ng-container>


    <ng-container [fdCozy]="true" *queryRemoveButton="let rule; let removeRule=removeRule">
        <button
                (click)="removeRule(rule)"
                fd-button
                fdType="transparent"
                glyph="delete"
                tooltip="Remove Rule"></button>
    </ng-container>

</query-builder>

<footer>
    <code title="Output" fd-dynamic-side-content position="bottom">{{ query | json }}</code>
</footer>
<!-- 
<ng-container *querySwitchGroup="let ruleset">
    <fd-split-button (primaryButtonClicked)="addRule()" >
      <fd-menu>
          <li fd-menu-item>
              <div fd-menu-interactive>
                  <span 
                  fd-menu-title>And</span>
              </div>
          </li>
          <li fd-menu-item>
              <div fd-menu-interactive>
                  <span  
                  fd-menu-title>Or</span>
              </div>
          </li>
      </fd-menu>
  </fd-split-button> 
  </ng-container>

<button fd-button
        fdType="transparent"
        glyph="sys-find" 
        (click)="log(ruleset)"></button> -->