  <div class="landing-page">
   
    <div style="display: flex; gap: 10px; margin-top: 20px; justify-content: flex-start; flex-wrap: wrap;">
      <div role="button" class="fd-tile fd-tile--launch" routerLink="/query-fb" routerLinkActive="active">
        <div class="fd-badge">HTML + TS</div>
        <div class="fd-tile__header">
          <div class="fd-tile__title">NGX Query Builder FB</div>
          <div class="fd-tile__subtitle">Plain</div>
        </div>
      </div>
      <div role="button" class="fd-tile fd-tile--launch" routerLink="/query-fb-console" routerLinkActive="active">
        <div class="fd-badge">HTML + CSS + TS</div>
        <div class="fd-tile__header">
          <div class="fd-tile__title">NGX Query Builder</div>
          <div class="fd-tile__subtitle">Styled</div>
        </div>
      </div>
      
    </div>
  </div>
