<div class="app">

    <div fd-bar barDesign="header" aria-posinset="top">
        <div fd-bar-left [title]="title">
            <a fd-button
               routerLink="main"
               fdType="transparent"
               routerLinkActive="active" ariaCurrentWhenActive="page"
               glyph="home"></a>

            <a fd-button
               href="https://github.com/dinavinter/ngx-query-builder-fb"
               fdType="transparent"
               routerLinkActive="active" ariaCurrentWhenActive="page"
               glyph="source-code"
            > Github </a>

        </div>
    </div>
    <main>
        <router-outlet></router-outlet>
    </main>
</div>