<div class="app">

    <fd-shellbar fdType="transparent"   aria-posinset="top">
        <fd-shellbar-actions >
            <fd-shellbar-action
                glyph="home"
                routerLink="main"
                fdType="transparent"
                
                routerLinkActive="active" ariaCurrentWhenActive="page" >
            </fd-shellbar-action>
       
                
          
         <a  
            aria-description ="Github"
            href="https://github.com/dinavinter/ngx-query-builder-fb">
             <fd-shellbar-action
                     glyph="source-code"
                     fdType="transparent"
                     routerLinkActive="active" ariaCurrentWhenActive="page" >

             </fd-shellbar-action>
         </a>
 
        </fd-shellbar-actions>
       
    </fd-shellbar>
    <main>
        <router-outlet></router-outlet>
    </main>
</div>